.navbar {
  background-color: #efe4cc !important;
  box-shadow: none !important;
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Adjust these dimensions as needed for your image */
  height: 60px;
  /* Temporary styling to show where the div is */
}

.logo {
  height: 60px;      /* perfect for navbar */
  width: auto;
  position: left;
  object-fit: contain;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 18px;
  position: relative;
}

.nav-link:hover {
  color: #000;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #006d77;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}


.explore-btn {
  background-color: #006d77 !important;
  color: white !important;
  text-transform: none !important;
  font-size: 16px !important;
  padding: 10px 34px !important;
  border-radius: 8px !important;
}

.explore-btn:hover {
  background-color: #005660 !important;
}
